.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  .tab{
      display: flex;
  }

  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
}
 


  .tab button:hover {
      font-weight: bold;
  }
  
.BottomButtons{
    display: flex;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
  height: 60px;
  padding-top: 40px;
  font-size: 30px;
}


.buttons{
width: 10%;
height: 50px;
font-size: 20px;
padding-top: 0;
cursor: pointer;
}


.tab button.active {
  font-weight: bold;
  color: rgb(108, 108, 238);
  border-bottom: 2px solid rgb(108, 108, 238);
}
  
 
  

  